/*HEADER*/

.wrapper {
    font-family: 'Patrick Hand', cursive;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    font-size: 48px;
    margin-left: 2%;
    width: 250px;
    margin-top: 20px;
}

.header-right {
    display: flex;
    margin-top: 40px;
    margin-right: 2%;
    width: 400px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.searchFormStyle {
    font-size: '18px';
    padding-left: '50px';
    background-position: '4px';
    background-repeat: 'no-repeat';
    background-image: 'url(http://s1.iconbird.com/ico/2013/1/569/w24h24138981479606magnify.png)';
}

.btn-clearSearch {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: none;
    margin-top: 7px;
    margin-left: -30px;
}

.header-checkbox {
    font-size: 26px;
    margin-top: -5px;
    margin-right: 10px;
}

.header-form {
    font-size: 18px;
    
}

.header-form input {
    background-image: url('http://s1.iconbird.com/ico/2013/1/569/w24h24138981479606magnify.png');
    background-position: 4px;
    background-repeat: no-repeat;
    padding-left: 50px;
    
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -30px;
}

.progress {
    height: 10px;
    margin-bottom: -20px;
}

.checkbox input[placeholder] {
    font-size: 20px;
}

/*wrapper for content*/

.content-wrapper {
    display: flex;
}

/*CATEGORIES*/

.categories {
    width: 30%;
    height: 90vh;
    border-right: 1px solid black;
    padding-left: 1%;
    padding-top: 20px;
}

input[placeholder] {
    font-size: 20px;
}

.input-change-category {
    display: none;
}

.category-title {
    display: block;
}

.add-category-form {
    width: 46%;
}

.form-control {
    width: 48%;
}

.add-category {
    display: flex;
}

.btn-primary {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
    padding: 6px 20px;
}

.category-tree ul:nth-child(1) {
    margin-top: 20px;
    margin-left: -40px;
}

.category-tree li {
    list-style-type: none;
    width: 70%;
    height: 50px;
    border: 1px solid #F0E9E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding-top: 8px;
    padding-left: 20px;
    font-size: 20px;
    z-index: 1;
    position: relative;
}

.category-tree li:hover {
    background-color: #f6f5f5;
}

.category-tree ul .categories--active {
    background-color: rgba(250, 157, 244, 1);
}

.svg-inline--fa.fa-w-16 {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    color: grey;
    margin: 5px;
}

.svg-inline--fa.fa-w-16:hover {
    color: black;
    margin-bottom: 10px;
}

.icon-wrapper {
    margin-top: 2px;
    z-index: 999;
    position: relative;
}

.single-category-li {
    display: flex;
    justify-content: space-between;
}

/*TASKS*/

.tasks {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10%;
}

.add-new-task {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 20px;
    float: right;
    width: 35%;
}

.add-new-task-btn {
    height: 34px;
}

.add-new-task-form {
    width: 85%;
}

.task-list {
    width: 100%;
}

.task-list ul {
    margin-left: -40px;
    margin-top: 50px;
}

.task-list li {
    list-style-type: none;
    width: 70%;
    height: 140px;
    border: 1px solid #F0E9E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin-left: 30%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.task-list li .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.task-list h5 {
    text-align: left;
    margin-top: 20px;
    width: 100%;
}

.task-list textarea {
    width: 100%;
}

.checkbox-task {
    margin-left: 50px;
}

.task-list span {
    font-size: 42px;
}

.task-list .task-active {
    border: 1px solid;
}


/* FA bug */
.svg-inline--fa.fa-w-16:hover {
    margin-bottom: 0;
}